
<header>
    <button class="menu-btn" onclick="showMenu();">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    </button>
    <div class="menu-wrapper">
      <div id="main-menu">
        <div class="pure-menu pure-menu-vertical">
          <ul class="pure-menu-list">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="pure-menu-item"><a href="{{my_page.url | prepend: site.baseurl }}" class="pure-menu-link">{{ my_page.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="header-wrapper">
      <div class="title"><!--h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1-->
      <div class="title-wrapper">
      <pre class="principal">
 .----------------. 
| .--------------. |
| |     ______   | |
| |   .' ___  |  | |
| |  / .'   \_|  | |
| |  | |         | |
| |  \ `.___.'\  | |
| |   `._____.'  | |
| |              | |
| '--------------' |
 '----------------' 
</pre>

<pre>
.----------------.  .----------------. 
| .--------------. || .--------------. |
| |  ________    | || |  _________   | |
| | |_   ___ `.  | || | |_   ___  |  | |
| |   | |   `. \ | || |   | |_  \_|  | |
| |   | |    | | | || |   |  _|  _   | |
| |  _| |___.' / | || |  _| |___/ |  | |
| | |________.'  | || | |_________|  | |
| |              | || |              | |
| '--------------' || '--------------' |
 '----------------'  '----------------' 
</pre>

<pre>
   .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------. 
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| |     ______   | || |     ____     | || |  ________    | || |     _____    | || |    ______    | || |     ____     | |
| |   .' ___  |  | || |   .'    `.   | || | |_   ___ `.  | || |    |_   _|   | || |  .' ___  |   | || |   .'    `.   | |
| |  / .'   \_|  | || |  /  .--.  \  | || |   | |   `. \ | || |      | |     | || | / .'   \_|   | || |  /  .--.  \  | |
| |  | |         | || |  | |    | |  | || |   | |    | | | || |      | |     | || | | |    ____  | || |  | |    | |  | |
| |  \ `.___.'\  | || |  \  `--'  /  | || |  _| |___.' / | || |     _| |_    | || | \ `.___]  _| | || |  \  `--'  /  | |
| |   `._____.'  | || |   `.____.'   | || | |________.'  | || |    |_____|   | || |  `._____.'   | || |   `.____.'   | |
| |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------' 
</pre>
      </div>
      </div>
    </div>
  </header>
